<div class="col-8" >
    <h3> Create Category</h3>

    <form (ngSubmit) = 'onSubmit()' >
    
        <div class="form-group">
            <label>Name Category</label>
            <input type="text"  id="namecategory" 
            [(ngModel)] = "category.nameCategory" 
            name="nameCategory"
            class="form-control " >
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>

// ve co ban thi oke r, de ap dung duoc nhieu hon thi can có bai toan thuc te thoi
// vâng em cảm ơn anh ạ.
// tim hieu not cai viewchild và chỗ template, xong sớm thì thử 1 trong 2 cái web trc a gửi
// anh ơi, cái teamplea là 2 dạng form đó đúng ko anh, ukm em có thư làm cả 2 rồi anh ạ
// day moi la may cai co ban thoi, cho a chut
//vâng ạ
// ukm đúng r a nhầm với cái directive e tìm hiểu thêm cho a cái này nhé chõ kia là oke r đó
// vâng ạ, anh lên công ty chưa ạ, a chưa chắc t3 t4 ,vẫn đang 2 vạch 
// em một vạch rồi, nhưng đang đợi để test lần 2 , ok nhé tìm hiểu thêm chỗ directive rồi làm thử cái ưeb a gửi trên nhóm
// cái web đó mình lấy api về rồi thiêt kế fe thôi ạ, ukm cái đấy tùy e
// a nghĩ nên làm từ đầu tụư thiết kế, cũng k cần giống lắm a xem ý tưởng thôi
// dạ vâng ạ, có gì em hỏi anh nhé, tại vẫn mông lung anh ạ, ok