<div class="col-8" >
    <h3> Update Product</h3>

    <form (ngSubmit) = 'onSubmit()' >

        <div class="form-group">
            <label>Name Product</label>
            <input type="text"
            [(ngModel)] = "product.nameProduct"
            [ngModelOptions]="{standalone: true}"
            name="nameProduct"
            class="form-control " >
        </div>

        <div class="form-group">

            <label>Price</label>
            <input type="text"
            [(ngModel)] = "product.price"
            [ngModelOptions]="{standalone: true}"
            name="price"
            class="form-control " >
        </div>

        <div class="form-group">

            <label>Category</label>
          <ng-select [(ngModel)]="product.category"  placeholder="Select Role" [ngModelOptions]="{standalone: true}">
            <ng-option *ngFor="let cate of category" [value]="cate.nameCategory">{{cate.nameCategory}}</ng-option>
          </ng-select>

        </div>

        <button class="btn btn-success" type="submit">Submit</button>
    </form>

</div>
