<div class="col-8" >
    <h3> Create Product</h3>
    <form (ngSubmit) = 'onSubmit()' [formGroup]="productForm">

        <div class="form-group">
            <label>Name Product</label>
            <input type="text"
            formControlName = "nameProduct"
            name="nameProduct"
            class="form-control " >
        </div>
        <div class="form-group">

            <label>Price</label>
            <input type="text"
            formControlName = "price"
            name="price"
            class="form-control " >
        </div>
        <div class="form-group">

            <label>Category</label>
          <ng-select [(ngModel)]="product.category" [multiple]="true" placeholder="Select Category" [ngModelOptions]="{standalone: true}">
            <ng-option *ngFor="let cate of category" [value]="cate.nameCategory">{{cate.nameCategory}}</ng-option>
          </ng-select>
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
    </form>

</div>
