<h2>User List</h2>
<button (click)="addUser()" class=" btn btn-primary">ADD</button>
<br/><br/>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">UserName</th>
    <th scope="col">Role</th>
    <th scope="col"></th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let user of users">
    <td >{{user.id }} </td>
    <td >{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.roles}}</td>
    <td style="text-align: right ">
      <button   class=" btn btn-primary">Edit</button>
      <button (click)="delete(user.id)" class=" btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
